/* Title Section */
.title-img-container > img {
    width: 60%;
}

/* Timeline Container */
.timeline-container {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	/* width: 400px; */
}

.timeline-item {
	position: relative;
	width: auto;
	padding-left: 1rem;
	margin: 1rem 1rem;
}

.timeline-item:after, .dot {
	position: absolute;
	content: '';
}

.timeline-item:after {
	left: 0;
	top: 10px;
	height: 130%;
	width: 0px;
	border: 2px solid var(--background-color-dm);
	border-radius: 10px;
}

.timeline-item:last-child:after {
	height: 0;
}

.dot {
	background-color: var(--background-color-dm);
	border-radius: 50%;
	height: 20px;
	left: -8px;
	top: 10px;
	width: 20px;
    z-index: 10;  
}

.dot:hover {
    background-color: var(--highlight-color);
}

.description-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem;
    line-height: 1;

    span {
        font-size: var(--small-mobile-size);
    }
}


/* Meine Person Section */
.person {
    border-bottom: none;

    div {
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem;

        img {
            width: 60%;
            height: 30vh;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }

    
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body.dark-mode .dot {
		background-color: var(--background-color-lm);
	}

	body.dark-mode .dot:hover {
		background-color: var(--highlight-color);
	}

	body.dark-mode .timeline-item:after {
		border: 2px solid var(--background-color-lm);
	}

}