/* Dienstleistungen Section */
.accordion.active {
    i {
        rotate: 90deg;
        transform: translateX(-5px);
        margin-left: 5px;
    }
}

.panel {
    padding: 0 1rem;
    background-color: var(--background-color-lm);
    display: none;
    overflow: hidden;
    color: var(--text-color-lm);

    ul {
        padding-bottom: 1rem;

        li:hover {
            font-family: var(--body-font);
            color: var(--background-color-dm);
        }
    }
}



  /* Darkmode */
  @media (prefers-color-scheme: dark) {
    .panel {
        background-color: var(--background-color-dm);
        color: var(--text-color-dm);

        ul > li:hover {
            color: var(--background-color-lm);
        }
    }
  }


  /* Responsiveness */
/* 
@media (min-width: 479px) {
    .default-section {
        padding: 0 2rem 2rem;
    }     
}

  .default-section{
    margin: 0 2rem;
} */