/* Dienstleistungen Section */
.accordion.active {
    i {
        rotate: 90deg;
        transform: translateX(-5px);
        margin-left: 5px;
    }
}

.panel {
    background-color: var(--background-color-lm);
    display: none;
    overflow: hidden;
    color: var(--text-color-lm);

    ul {
        background: var(--background-color-dm);
        width: fit-content;
        padding: 1rem 1rem 1rem 2rem;
        margin: 0 0 1rem 0;

        li {
            list-style: disc;
            color: var(--text-color-dm);
        }
    }
}



  /* Darkmode */
  @media (prefers-color-scheme: dark) {
    body.dark-mode .panel {
        background-color: var(--background-color-dm);
        color: var(--text-color-dm);

        ul {
            background: var(--background-color-lm);
    
            li {
                color: var(--text-color-lm);
            }
        }
    }
  }


  /* Responsiveness */
/* 
@media (min-width: 479px) {
    .default-section {
        padding: 0 2rem 2rem;
    }     
}

  .default-section{
    margin: 0 2rem;
} */