/* Navigation */
/* .nav-header {
    padding: 3rem 3rem 1rem 2rem;
} */

.body {
    height: 100vh;
}

.navigation-container {
    height: 80vh;
    width: 100%;
    padding: 3rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li:last-child {
        border-bottom: 2px solid var(--text-color-lm);
    }
}

.navigation-toggles {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.appearance-switch:hover {
    color: var(--background-color-dm);
}



/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body.dark-mode {
        background-color: var(--background-color-dm);
    }

    body.dark-mode .footer-container {
        li {
            border-bottom: 2px solid var(--text-color-dm);
        }
    }
}