/* ---------- Reset ---------- */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- Variables ---------- */
:root {
    /* Fonts */
    --body-font: "BarlowLight", "sans-serif";
    --heading-font: "BarlowSemiBold", "sans-serif";
    --quotation-font: "BarlowLightItalic", "sans-serif";
    --h1-size: 3.5rem;
    --h1-mobile-size: 1.5rem;
    --text-size: 1.5rem;
    --text-mobile-size: 1.2rem;
    --small-size: 1.2rem;
    --small-mobile-size: 1rem;

    /* colors */
    --highlight-color: #FCCE00;
    /* Light mode */
    --text-color-lm: #354255;
    --background-color-lm: #FFFDF6;
    /* Dark mode */
    --text-color-dm: #FFFDF6;
    --background-color-dm: #354255;
}
/* ---------- Fonts ---------- */

/* Import Fonts */
@font-face {
    font-family: BarlowSemiBold;
    src: url(/assets/fonts/Barlow/Barlow-SemiBold.ttf);
}

@font-face {
    font-family: BarlowLight;
    src: url(/assets/fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: BarlowLightItalic;
    src: url(/assets/fonts/Barlow/Barlow-LightItalic.ttf);
}
 /* Fonts and Sizes */
h1 {
    font-family: var(--body-font);
    font-size: var(--h1-mobile-size);
    font-weight: 100;
    color: var(--text-color-lm);
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--text-mobile-size);
    font-weight: 100;
    color: var(--text-color-lm);
}

h3 {
    font-family: var(--body-font);
    font-size: var(--text-mobile-size);
    color: var(--text-color-lm);
}

p, li, span {
    font-family: var(--body-font);
    font-size: var(--text-mobile-size);
    color: var(--text-color-lm);
}

.small {
    font-size: var(--small-mobile-size);
    color: var(--text-color-lm);
}

.button {
    font-family: var(--heading-font);
    font-size: var(--small-mobile-size);
    background-color: var(--background-color-dm);
    color: var(--text-color-dm);
}

.quotation {
    font-family: var(--quotation-font);
    font-size: var(--small-mobile-size);
}

/* ---------- Stylings ---------- */
i, a {
    text-decoration: none;
    color: var(--text-color-lm);
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;

    body {
        background-color: var(--background-color-lm);
    }
}

button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

.button {
    padding: 0.5rem 0.8rem;
}

.dm {
    display: none;
}

.arrow-lm {
    background-color: var(--background-color-dm);
    border-radius: 50%;
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: var(--background-color-lm);
    }
}

/* Header */

header {
    max-height: 20vh;
    min-height: 15vh;
    width: 100%;
    padding: 3rem 2rem 1rem;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo > img {
    width: 10rem;
    height: fit-content;
}

.burger-icon {
    color: var(--text-color-lm);
}

/* Footer */
footer {
    height: auto;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 2px solid var(--text-color-lm);
}

.footer-container {
    list-style-type: none;
    li {
        padding: 1rem 0;
        border-bottom: 2px solid var(--text-color-lm);
        cursor: pointer;
    }

    li:last-child {
        border-bottom: none;
    }

    .footer-grid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .small-logo {
            width: 7rem;
            height: auto;
        }

        .small {
            text-align: right;
        }
    }
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {
    
    body, header {
        background-color: var(--background-color-dm);
    }

    .dm {
        display: block;
    }

    .lm {
        display: none;
    }

    /* Header */
    .burger-icon {
        color: var(--background-color-lm);
        margin: none;
    }

    /* Fonts */
    h1, h2, h3, small, p, li, span, i, a  {
        color: var(--text-color-dm);
    }

    /* Buttons and Arrows */
    .button {
        background-color: var(--background-color-lm);
        color: var(--text-color-lm);
    }

    .arrow-lm {
        background-color: var(--background-color-lm);
        i {
            color: var(--background-color-dm);
        }
    }

    /* Footer */
    footer {
        background-color: var(--background-color-dm);
        border-top: 2px solid var(--text-color-dm);

        .footer-container > li {
            border-bottom: 2px solid var(--text-color-dm);
        }
    }
}